# Database Configuration
DATABASE_NAME=name
DATABASE_URL=jdbc:mysql://localhost:3306
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_DRIVER=org.mysql.cj.jdbc.Driver
DATABASE_DIALECT=org.hibernate.dialect.MySQL8Dialect

# Token secret key for JWT authentication
jwt.secret=your_jwt_secret_key